@import "styles/variables";
@import "styles/mixins";

.task {
    @include TaskStyles();

    &__title, &__description {
        word-break: break-all;
    }

    &__description {
        margin-bottom: 0.3rem;
    }

    &_completed {
        opacity: .5;
    }

    &:focus {
        border: 0,06rem solid #fff;
    }
}

// Animations
.task {
    &-exit {
        animation: task-exit 300ms forwards;
    }

    &-enter {
        animation: task-enter 300ms forwards;
    }
}

@keyframes task-exit {
    0% {
        transform: translateX(-150px);
        
        .task {
            opacity: 1;
        }

        .task.task_completed {
            opacity: .5;
        }

    }
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

@keyframes task-enter {
    0% {
        transform: translate(150px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 521px) {
    .task {
        width: 90%;
    }
}