@import "styles/variables";

.inline-edit {
    padding: .3em;
    resize: none;
    min-height: 1rem;
    max-height: 6rem;
    width: 100%;
    background: transparent;
    color: $clr-text-primary;
    cursor: pointer;
    border-radius: $border-radius;
    outline: none;
    border: 0.06em solid #2D3149;

    &::placeholder {
        color: $clr-brand-blue;
    }

    &_error {
        border-color: #CE304C;

        &::placeholder {
            color: #CE304C;
        }

        &:focus,
        &:hover {
            border-color: #CE304C !important;
        }
    }

    &:focus,
    &:hover {
        border-color: #656D99;
    }
}