// Colors
$clr-brand-blue:      #1F243A;
$clr-brand-blue-dark: #16192A; 
$clr-brand-pink:      #D95FF7;
$clr-brand-white:     #FFF;

$border-radius: 5px;

// Margins / Paddings
$distance-between-sections: 25px;
$distance-between-elems-vertical:   10px;
$distance-between-elems-horizontal: 5px;