@import "styles/variables";

.progress {
    --canvas-size: clamp(3rem, 13vw, 5rem);

    position: relative;
    height: var(--canvas-size);
    width:  var(--canvas-size);

    &__circle {
        height: 100%;
        width: 100%;

        &-layout, &-progress {
            fill: transparent;
            stroke-width: 0.25rem;
            cx: calc(var(--canvas-size) / 2);
            cy: calc(var(--canvas-size) / 2); 
            r: calc((var(--canvas-size) / 2) - 0.25rem); // Radius = (canvas-size / 2) - stroke-width
        }

        // Progress background
        &-layout {
            stroke: $clr-brand-blue;
        }

        // Completed part will fill with color
        &-progress {
            stroke:#D95FF7;

            // Start at 12 O'Clock
            transform-origin: center;
            transform: rotate(-90deg);
            transition: .3s ease-in-out;
        }
    }

    &__percent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--canvas-size) / 4.5);
    }
}

// @media screen and (max-width: 400px) {
//     .progress {
//         --canvas-size: 3.5rem;

//         &__circle-layout, &__circle-progress {
//             stroke-width: 0.18rem;
//         }
//     }
// }