@import "styles/variables";

.category {
    --bg-clr-start: #{$clr-brand-blue};
    --bg-clr-end:   #{lighten($clr-brand-blue, 30%)};

    background: linear-gradient(
        92deg, 
        var(--bg-clr-end) 0%, 
        var(--bg-clr-start) 100%
    );

    border-radius: $border-radius;
    padding: 15px;

    &__ico {
        margin-bottom: 15px;
    }
}