@import "styles/variables";

.todo {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 15px;
    border-radius: $border-radius;
    user-select: none;
    touch-action: none; // To prevent wrong behavior with touches
    transition: .3s transform ease-out;

    &__ico {
        margin-right: 15px;
    }

    &__description {
        margin-bottom: 5px;
    }
}

// Animations
.todo {
    &-exit {
        animation: todo-exit 300ms forwards;
    }
}

@keyframes todo-exit {
    0% {
        transform: inherit;
        opacity: 1;
    }
    100% {
        transform: translate(-100%);
        opacity: 0;
    }
}

@media only screen and (max-width: 521px) {
    .todo {
        width: 90%;
    }
}