@import "styles/variables";
@import "styles/mixins";

.task-add {
    @include TaskStyles();
    cursor: pointer;
    justify-content: center;
    border: 1px dashed #656D99;
    

    i {
        font-size: 25px;
    }

    &__info {
        &-title, &-description, &-gradient {
            margin-bottom: 0.5rem;
        }
    }

    &__submit {
        width: 100%;
        background: linear-gradient(
            -20deg, 
            #2D3149, 
            #656D99
        )
    }

    &_active {
        cursor: default;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 521px) {
    .task-add {
        width: 90%;
    }
}