@import "styles/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $clr-brand-white;
}

a {text-decoration: none; color: inherit}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {font-size: clamp(1.5rem, 10vw, 3rem);} // 25px
h2 {font-size: 1rem;}  // 14
h3 {font-size: .8rem;} // 11 
p  {font-size: .7rem;} // 8 


// Helper Classes
.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 350px) {
  .container {
    max-width: 100%;
    padding: 0 .5rem;
  }
}

div[class$="-img"], div[class$="__img"] {
  /*
    For parent classses such as "insecure-img"
    or child classes for example "project__img"
  */
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}