@import "styles/variables";

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .task + .task-add {
        margin-top: 1.5rem;
    }

    .task + .task {
        margin-top: 1.5rem;
    }
}